[Desktop Entry]
Name=Xmahjongg
Comment=Colorful solitaire Mah Jongg game
Comment[pl]=Kolorowa układanka Mah Jongg
Icon=xmahjongg.png
Exec=xmahjongg
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Game;BoardGame;
