[Desktop Entry]
Type=Application
Exec=/usr/bin/start-ica
Terminal=false
Name=ICA iTALC application
X-SuSE-translate=false
X-KDE-StartupNotify=false
X-KDE-autostart-after=panel
X-GNOME-Autostart-enabled=true
