[Desktop Entry]
Name=diffpdf
GenericName=PDF files comparator
Comment=Compare PDF files
Exec=diffpdf
Icon=diffpdf
Terminal=false
Type=Application
Categories=Utility;Office;Viewer;
